.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.tilesWrapper {
  display: flex;
  flex-flow: row wrap;
  width: 40%;
  /* justify-self: center; */
  /* justify-items: center; */
  /* align-items: center; */
}
.tileSuccess {
  background-color: orange;
  width: 6rem;
  height: 6rem;
  border: 0.15rem solid goldenrod;
  border-radius: 7%;
  border-right-color: antiquewhite;
  border-right-width: 0.3rem;
  border-left-color:khaki;
  border-left-width: 0.3rem;
  margin: 0 0.15rem;
}
.tileFailure {
  background-color: #880808;
  width: 6rem;
  height: 6rem;
  border: 0.15rem solid #D22B2B;
  border-radius: 7%;
  border-right-color: 		#DC143C;
  border-right-width: 0.3rem;
  border-left-color:	#F88379;
  border-left-width: 0.3rem;
  margin: 0 0.15rem;
}

.mainWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
